[alias]
    conf = config --global --edit
[branch]
    sort = -committerdate
[column]
    ui = auto
[commit]
    verbose = true
[core]
    editor = code --wait
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[fetch]
    all = true
    prune = true
    pruneTags = true
[gitbutler]
    aiAnthropicKeyOption = bringYourOwn
    aiAnthropicModelName = claude-sonnet-4-0
    aiModelProvider = anthropic
    aiOpenAIKeyOption = bringYourOwn
    signCommits = true
[help]
    autocorrect = prompt
[init]
    defaultBranch = main
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    default = simple
    followTags = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[rerere]
    autoupdate = true
    enabled = true
[tag]
    sort = version:refname
