[alias]
    conf = config --global --edit
[branch]
    sort = -committerdate
[column]
    ui = auto
[commit]
    verbose = true
[core]
    editor = code --wait
    pager = hunk pager
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[fetch]
    all = true
    prune = true
    pruneTags = true
[gitbutler]
    aiOpenAIKeyOption = bringYourOwn
    aiModelProvider = openai
[help]
    autocorrect = prompt
[init]
    defaultBranch = main
[mergetool]
	keepBackup = true
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    default = simple
    followTags = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[rerere]
    autoupdate = true
    enabled = true
[tag]
    sort = version:refname
